body {
    background-color: cadetblue;
}

section {
    text-align: center;
    font-size: 30px;
}

button {
    font-size: 30px;
}

h1 {
    font-family: "Space Mono"
}

h2 {
    font-family: "Space Mono"
}

p {
    font-family: "Space Mono";
}

.low-usage {
    color: green;
}

.medium-usage {
    color: black;
}

.high-usage {
    color: red;
}